body {
  margin: 0;
  background-color: rgb(245, 245, 245);
}
.ol-mouse-position {
  background-color:rgba(245,245,245,0.8);
}
.ol-scale-line{
  left:11rem;
}

.el-collapse {
  width: 200px;
  margin: auto;
  border: none;
.el-collapse-item-title {
    font-size: 16px;
    font-family: 'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB',
      'Microsoft YaHei', '微软雅黑', Arial, sans-serif;
  }
  .el-collapse-item {
    border: none;
  }  
}
